@import url("https://use.fontawesome.com/release/v5.15.2/css/all.css")
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    background-color: black;
    overflow: hidden;

}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.log-wrapper{
    margin-bottom: 120px;
}
.logo-wrapper img{
    width: 100%;

}
.sign-in-btn{
    background: #e50914;
    color: white;
    border: none;¨
    border-radius: 2px;
    padding: 8px 15px;
}

header{
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../image/back.jpg")
    background-position: center;
    background-repeat: no-repear;
    color: white;
    text-align: center;¨
    min-height: 100vh;¨
    background-size: 100%;

}

.header-content-title{
    font-size: 53px;
    width: 45%;
    margin: 180px auto 0 auto;¨
    letter-spacing: 2px;
}

.input_id{
    color: white;
}
h1{
    font-size: 50%;
    margin-bottom: 8px;
    line-height: 1.1%;
    font-weight: 600;
}
h2{
    font-size: 26px;
    font-weight: normal;
}

.placeLabel {
    color: #8c8c8c;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease,transform .1s ease;
}